body {
    margin: 0;
    font-family: sans-serif;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slideshow {
    flex: 1;
    background-color: #333;
}
